/* init */
* { margin: 0; padding: 0; box-sizing: border-box; color: #333333; font-family: 'Roboto', 'Noto Sans KR', sans-serif; }
ul li { list-style: none; }
a { text-decoration: none; }
a:hover { opacity: .5; }
html, body { overflow-x: hidden; }
.hidden { display: none; }

/* app */
.container { max-width: 1440px; margin: 0 auto; }
.row { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; }
.col { flex: auto; }

.btn { outline: none; border: none; background: lightgray; padding: 10px 20px; cursor: pointer; border-radius: 5px; }
.btn:hover { opacity: .8; }

.white { color: white; }

section h2 { text-align: center; margin-bottom: 30px; font-weight: normal; font-size: 2em; }

#main-img { display: flex; justify-content: center; }

.logo { cursor: pointer; display: flex; align-items: center; }
.logo img { height: 50px; }
.top { background: #fafafa; line-height: 40px; }
.top ul:nth-child(1) li { margin-right: 15px; }
.top ul:nth-child(2) li { margin-left: 15px; }
.top ul:nth-child(2) li:not(:last-child) a { border-right: 1px solid #cccccc; padding-right: 20px;}

.main { box-shadow: 1px 1px 5px lightgray; height: 70px; background: rgba(255, 255, 255, .9); }
.main .container { padding-top: 10px; }
.main-menu li a { display: block; text-align: center; font-weight: bold; }
.main-menu li a:hover { color: #5cd3fd; opacity: 1; }
.active { color: #32a5fd; opacity: 1; }

footer { background: #34393f; border-top: 5px solid #32a5fd; position: relative;}
footer .copyright p { color: white; line-height: 100px; text-align: center; }

.btn-footer { position: absolute; transform: translate(-50%, -100%); margin-top: -5px; background: #32a5fd; color: white; left: 50%; padding: 3px 40px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

/* btn color */
.btn-primary { background: #32a5fd; color: white; }

main { margin: 40px auto; }

#login, #register { margin: 100px 0; }

/* form */
.form { display: flex; justify-content: center; }

/* form */
form { min-width: 600px; }

form label { max-width: 100px; font-size: .7em; }
form .row * { flex: auto; }
form .row { margin-bottom: 10px; flex-direction: row-reverse; }

form input { line-height: 30px; border: none; margin: 10px 0; background: transparent; border-bottom: 1px solid #cccccc; padding-left: 10px;  outline: none;}
form input:focus { border-color: #32a5fd; color: #32a5fd; }
form input::placeholder { color: #cccccc; }
form input:focus ~ label { color: #32a5fd; }

form button { margin-top: 20px; }


/* 아이디 비밀번호 자동입력 없애기 */
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; }

